

<div class="row">
    <h2 class="m-t-0 h3"><b>Manage Member Roles </b></h2>
    @foreach (var member in Model)
    {
        <div class="row">
            <div class="card col-4 m-3">
                <div class="card-body">
                    <p class="text-muted font-13 m-b-30">
                        This form displays the current roles assigned to the user: <strong class="text-info">[Member FullName]</strong>.
                        Use the dropdown to select the roles this user should be assigned.
                        Once roles are selected, click "Assign Roles" to submit the form.
                    </p>
                    <hr />
                    <form asp-action="" asp-controller="" method=post>
                        <input type="hidden" asp-for="" /> @* Hide BTUser Id*@
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="" class="custom-label"> Roles for [Member FullName] </label>
                                    <select asp-for="" class="form-control" asp-items="" multiple>
                                    </select>
                                    <hr />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Assign Role" class="btn btn-info" /> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>