@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="seipkon-breadcromb-left ">
            <h3>Manage your account</h3>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="seipkon-breadcromb-right">
            <h3>Change your account settings</h3>
        </div>
    </div>
</div>


<div>
    
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
